<!doctype html>{% load static from staticfiles  %}{% load l10n %}
<html class="no-js" lang="cs"{% block htmlattr %}{% endblock %}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} | Ferman</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/foundation-datepicker.css" %}" />
        <script src="{% static "js/vendor/modernizr.js" %}"></script>
        {% block startstatic %}
        {% endblock %}
        <link rel="stylesheet" href="{% static "css/ferman.css" %}" />
    </head>
    <body>

        {% if request.user.is_authenticated %}
            <div class="row">
                {% include "menu.html" %}
    {% comment %}
                <ul class="breadcrumbs">
                    {% block breadcrumbs %}
                        <li><a href="{% url 'event:dashboard' %}">Kalendář</a></li>
                    {% endblock %}
                </ul>
    {% endcomment %}
            </div>
        {% endif %}

            {% block messages %}
                {% if messages %}
                <div class="row">
                    {% for message in messages %}
                    <div class="large-12 columns">
                        <div data-alert class="alert-box {{ message.tags }} radius">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endblock %}

        <div class="row">
            <div class="medium-10 medium-offset-1 columns">
            {% block content %}{% endblock %}
            </div>
        </div>

        {% block endstatic %}
            <script src="{% static "js/vendor/jquery.js" %}"></script>
            <script src="{% static "js/foundation.min.js" %}"></script>
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>

