<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{% url 'event:dashboard' %}">FERMAN</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li>
                <a href="{% url 'event:dashboard' %}">Kalendář</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'stock:list' %}">Sklad</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'contact:list' %}">Kontakty</a>
            </li>
        </ul>

        <ul class="right">
            <li>
                <a href="{% url 'account:logout' %}">Odhlásit</a>
            </li>
        </ul>
    </section>
</nav>
