{% extends "base.html" %}
{% load static from staticfiles  %}
{% load addclass %}

{% block title %}{% if contact %}{{ contact.name }} &ndash; upravit kontakt{% else %}Přidat kontakt{% endif %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="large-12 columns">

        {% if contact %}
        <h1>{{ contact.name }} &ndash; upravit kontakt</h1>
        {% else %}
        <h1>Přidat kontakt</h1>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
        <form action="{% if contact %}{% url 'contact:contact-update' pk=contact.id %}{% else %}{% url 'contact:contact-create' %}{% endif %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">

                {% if form.non_field_errors %}
                    <div class="alert-box warning">
                        {{ form.non_field_errors|join:"<br>" }}
                    </div>
                {% endif %}

                <table class="form topped wide">
                    <tr>
                        <th colspan="2">
                            {{ form.name.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="alert-box warning">
                                    {{ form.name.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            {{ form.phone.label_tag }}
                        </th>
                        <th>
                            {{ form.email.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td class="nowrap" width="30%">
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="alert-box alert">
                                    {{ form.phone.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert-box warning">
                                    {{ form.email.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2">
                            {{ form.remark.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form.remark }}
                            {% if form.remark.errors %}
                                <div class="alert-box warning">
                                    {{ form.remark.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            {{ form.is_customer.label_tag }}
                        </th>
                        <th>
                            {{ form.skills.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{ form.is_customer }}
                            {% if form.is_customer.errors %}
                                <div class="alert-box warning">
                                    {{ form.is_customer.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ form.skills|addclass:'skills-widget' }}
                            {% if form.skills.errors %}
                                <div class="alert-box warning">
                                    {{ form.skills.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                </div>
            </div>

            <div class="right">
                <button type="submit" class="right button success">Uložit</button>
                <a href="{% url 'contact:list' %}" class="button secondary">Zrušit</a>
            </div>
            {% if contact %}
            <div class="left">
                <a href="{% url 'contact:contact-delete' pk=contact.id %}" class="tiny button alert">Smazat</a>
            </div>
            {% endif %}
        </form>
        </div>
    </div>


    {% if contact %}
    <div class="row text-right">
        <div class="large-12 columns">
        <p><small>Naposledy kontakt upravil {{ contact.changed_at|date:"j. n. Y H:i" }} uživatel {{ contact.changed_by }}.</small></p>
        </div>
    </div>
    {% endif %}


{% endblock %}

