{% extends "base.html" %}
{% load static from staticfiles  %}


{% block title %}Kontakty{% endblock %}




{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="right">
                <a href="{% url 'contact:contact-create' %}" class="button success">Přidat kontakt</a>
            </div>
            <h1>Kontakty</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">


            <table class="wide">
                <tr>
                    <th>
                        Jméno
                    </th>
                    <th class="text-center">
                        Telefon
                    </th>
                    <th class="text-center">
                        Email
                    </th>
                    <th class="text-center">
                        Dovednosti
                    </th>
                    <th class="text-center">
                        Změnit
                    </th>
                </tr>
                {% for contact in contacts %}
                    <tr>
                        <td class="nowrap">
                            {{ contact.name }}
                        </td>
                        <td class="text-center nowrap">
                            {{ contact.phone }}
                        </td>
                        <td class="text-center">
                            {{ contact.email }}
                        </td>
                        <td class="text-center">
                            {{ contact.is_customer|yesno:"Zákazník," }}
                            {{ contact.get_skills_text }}
                            {{ contact.account|yesno:"+login," }}
                        </td>
                        <td class="text-center">
                            <a class="button tiny no-margin-bottom" href="{% url 'contact:contact-update' pk=contact.id %}">Změnit</a>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

<!--     <div class="row">
        <div class="large-12 columns">
            <ul class="pagination">
                {% if paginator.has_previous %}
                <li class="arrow"><a href="?page={{ paginator.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for pg in paginator.page_range %}
                <li{% if pg == paginator.number %} class="current"{% endif %}><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endfor %}
                {% if paginator.has_next %}
                <li class="arrow"><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
 -->
{% endblock %}
