
 .no-margin-bottom {
    margin-bottom: 0;
 }

 .no-padding-bottom {
    padding-bottom: 0;
 }


.datepicker td, .datepicker th {
    width: 28px;
    height: 28px;
    font-size: 16px;
}

table.dashboard {
    border-spacing: 0;
    width: 100%;
}

table.dashboard td {
    border-bottom: 1px solid #EEEEEE;
}

table.dashboard td.weekend {
    background-color: #FFFF66;
}

table.dashboard td.today {
    font-weight: bold;
}

table.dashboard a.add-event {
    visibility: hidden;
}

table.dashboard tr:hover > td .add-event {
    visibility: visible;
}

table.dashboard .event-pane {
    background-color: #cccccc;
    border: 1px solid gray;
    vertical-align: top;
    cursor: pointer;
}

table.dashboard .no-border-bottom {
    border-bottom: 0;
}

table.dashboard .no-border-top {
    border-top: 0;
}

table.topped th,
table.topped td {
    vertical-align: top;
}

table.wide {
    width: 100%;
}

table.wide td.nowrap {
    white-space: nowrap;
}

table.wide td.wide,
table.wide th.wide {
    width: 100%;
}

table.form td div.alert-box {
    margin-top: -1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.skills-widget {
    height: 150px;
}

.select2-container .select2-choice {
    height: 2.3125rem;
    padding: 0.3rem;
    border-radius: 0;
    /*border: 1px solid #ccc;*/
}

.is_deleted {
    color: #ccc;
}
