{% extends "base.html" %}
{% load static from staticfiles  %}

{% block title %}{{ item.name }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="large-12 columns">
        <h1>{{ item.name }}</h1>
        </div>
    </div>

    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">
                <p>Opravdu chcete tuto položku smazat?</p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="right">
                    <button type="submit" class="right button alert">Smazat</button>
                    <a href="{% url 'stock:list' %}" class="button secondary">Zrušit</a>
                </div>
            </div>
        </div>
    </form>


{% endblock %}

