{% extends "base.html" %}
{% load static from staticfiles  %}


{% block title %}Sklad materiálu{% endblock %}




{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="right">
                <a href="{% url 'stock:item-create' %}" class="button success">Přidat položku</a>
            </div>
            <h1>Sklad materiálu</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">


            <table class="wide">
                {% for item in items %}
                    {% ifchanged item.category %}
                    {% if item.category.name %}
                    <tr>
                        <th colspan="3">
                            <h3>{{ item.category.name|default:"" }}</h3>
                        </th>
                    </tr>
                    {% else %}
                    <tr>
                        <th>
                            Kategorie / Položka
                        </th>
                        <th class="text-center">
                            Celkem ve&nbsp;skladu
                        </th>
                        <th class="text-center">
                            Změnit
                        </th>
                    </tr>
                    {% endif %}
                    {% endifchanged %}

                    <tr>
                        <td class="wide">
                            {{ item.name }}
                        </td>
                        <td class="text-center">
                            {{ item.stock_count }}
                        </td>
                        <td class="text-center">
                            <a class="button tiny no-margin-bottom" href="{% url 'stock:item-update' pk=item.id %}">Změnit</a>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

<!--     <div class="row">
        <div class="large-12 columns">
            <ul class="pagination">
                {% if paginator.has_previous %}
                <li class="arrow"><a href="?page={{ paginator.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for pg in paginator.page_range %}
                <li{% if pg == paginator.number %} class="current"{% endif %}><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endfor %}
                {% if paginator.has_next %}
                <li class="arrow"><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
 -->
{% endblock %}
