{% extends "base.html" %}
{% load static from staticfiles  %}

{% block title %}{% if item %}{{ item.name }} &ndash; upravit materiál{% else %}Přidat materiál{% endif %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="large-12 columns">

        {% if item %}
        <h1>{{ item.name }} &ndash; upravit materiál</h1>
        {% else %}
        <h1>Přidat materál</h1>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
        <form action="{% if item %}{% url 'stock:item-update' pk=item.id %}{% else %}{% url 'stock:item-create' %}{% endif %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">

                {% if form.non_field_errors %}
                    <div class="alert-box warning">
                        {{ form.non_field_errors|join:"<br>" }}
                    </div>
                {% endif %}

                <table class="form topped wide">
                    <tr>
                        <th colspan="2">
                            {{ form.name.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="alert-box warning">
                                    {{ form.name.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            {{ form.stock_count.label_tag }}
                        </th>
                        <th>
                            {{ form.category.label_tag }}
                        </th>
                    </tr>
                    <tr>
                        <td class="nowrap" width="30%">
                            {{ form.stock_count }}
                            {% if form.stock_count.errors %}
                                <div class="alert-box alert">
                                    {{ form.stock_count.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ form.category }}
                            {% if form.category.errors %}
                                <div class="alert-box warning">
                                    {{ form.category.errors|join:"<br>" }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                </div>
            </div>

            <div class="right">
                <button type="submit" class="right button success">Uložit</button>
                <a href="{% url 'stock:list' %}" class="button secondary">Zrušit</a>
            </div>
            {% if item %}
            <div class="left">
                <a href="{% url 'stock:item-delete' pk=item.id %}" class="tiny button alert">Smazat</a>
            </div>
            {% endif %}
        </form>
        </div>
    </div>


    {% if item %}
    <div class="row text-right">
        <div class="large-12 columns">
        <p><small>Naposledy položku upravil {{ item.changed_at|date:"j. n. Y H:i" }} uživatel {{ item.changed_by }}.</small></p>
        </div>
    </div>
    {% endif %}


{% endblock %}

