{% extends "base.html" %}
{% load static from staticfiles  %}

{% block title %}{{ event.name }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="large-12 columns">
        <h1>{{ event.name }}</h1>
        <h3 class="subheader">{{ event.start|date:"j. n. Y" }} &mdash; {{ event.end|date:"j. n. Y" }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-6 large-offset-3 medium-8 medium-offset-2 columns">

            <table class="wide">
                <tr>
                    <th>
                        Zákazník:
                    </th>
                    <td class="wide">
                        {% if event.customer %}TODO {{ event.customer.name }} &ndash; {{ event.customer.phone }} &ndash; <a href="mailto:{{ event.customer.email }}">{{ event.customer.email }}</a>{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Zodpovídá:
                    </th>
                    <td>
                        {% if event.manager %}{{ event.manager.name }} &ndash; {{ event.manager.phone }} &ndash; <a href="mailto:{{ event.manager.email }}">{{ event.manager.email }}</a>{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Poznámka:
                    </th>
                    <td>
                        {% if event.remark %}{{ event.remark|linebreaksbr }}{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="large-6 large-offset-3 medium-8 medium-offset-2 columns">

                        <p>Opravdu chcete tuto akci smazat?</p>

                    </div>
                </div>

                <div class="right">
                    <button type="submit" class="right button alert">Smazat</button>
                    <a href="{% url 'event:event-update' pk=event.id %}" class="button secondary">Zrušit</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
        </div>
    </div>

{% endblock %}

