{% extends "base.html" %}
{% load static from staticfiles  %}

{% block title %}{{ event.name }}{% endblock %}

{% block endstatic %}
    {{ block.super }}
    <script type="text/javascript" async defer>
        jQuery(".js-confirm").on("click", function(e){
            var btn = jQuery(this);
            if (confirm("Opravdu chcete smazat akci?")){
                console.log(btn);
            } else {
                e.preventDefault();
            }
        });


        $(document).ready(function(e) {
            $('.toggle-details').each(function(i) {
                var tid = $(this).attr('data-toggle')
                $(this).click(function(e) {
                    $('#'+tid).slideToggle('fast');
                });
                $('#'+tid).hide();
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>{{ event.name }}</h1>
            <div class="right">
                <a href="{% url 'event:event-update' pk=event.id %}" class="right small button">Upravit akci</a>
                <a href="{% url 'event:dashboard' %}" class="small button secondary">Zpět</a>
            </div>
            <h3 class="subheader">{{ event.start|date:"j. n. Y" }} &mdash; {{ event.end|date:"j. n. Y" }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
        </div>
    </div>
    <div class="row">
        <div class="medium-10 medium-offset-1 columns">

            <table class="topped wide">
                <tr>
                    <th>
                        Zákazník:
                    </th>
                    <td{% if event.customer.is_deleted%} class="is_deleted"{% endif %}>
                        {% if event.customer %}{{ event.customer.name }} &ndash; {{ event.customer.phone }}{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Zodpovídá:
                    </th>
                    <td{% if event.manager.is_deleted%} class="is_deleted"{% endif %}>
                        {% if event.manager %}{{ event.manager.name }} &ndash; {{ event.manager.phone }}{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Poznámka:
                    </th>
                    <td class="wide">
                        {% if event.remark %}{{ event.remark|linebreaksbr }}{% else %}<small>nevyplněno</small>{% endif %}
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

            <h2>Materiál</h2>
        </div>
    </div>


    <div class="row">
        <div class="medium-10 medium-offset-1 columns">
            {% if event.items.all|length == 0 %}
            <p><small>zatím žádný materiál</small></p>

            {% else %}
            <p><small>Rozpis značí počet kusů materiálu, který je třeba na akci mít s sebou. Zamluvený počet je blokování položky vůči ostatním akcím. Blokace je na celý den akce.</small></p>

            <table class="wide">
                <tr>
                    <th>
                        položka
                    </th>
                    <th>
                        rozpis /&nbsp;zamluveno
                    </th>
                    <th>
                        k&nbsp;dispozici /&nbsp;pro&nbsp;ostatní /&nbsp;celkem
                    </th>
<!--                     <th>
                        třeba zamluvit
                    </th>
                    <th>
                        chybí!
                    </th>
 -->
                </tr>
                {% for event_item in event.eventitem_set.all %}
                <tr>
                    <td class="{% if event_item.item.is_deleted %}is_deleted{% endif %}">
                        <span{% if event_item.item.is_deleted %} title="Tato položka byla odstraněna ze skladu"{% endif %}>{{ event_item.item.name }}</span>
                    </td>
                    <td class="text-center">
                        <span class="label {% if event_item.booked_count == event_item.requested_count %}success{% else %}warning{% endif %}">{{ event_item.requested_count }} /
                        {{ event_item.booked_count }}
                        </span>
                    </td>
                    <td class="text-center">
                        <strong>{{ event_item.available_count }}</strong> / {% if event_item.to_be_booked_by_others_count > 0 %}{{ event_item.to_be_booked_by_others_count }}{% else %}0{% endif %} /
                        {{ event_item.item.stock_count }}
                    </td>
<!--                     <td class="text-center">
                        {% if event_item.to_be_booked_count > 0 %}<span class="label">{{ event_item.to_be_booked_count }}</span>{% else %}0{% endif %}
                    </td>
                    <td class="text-center">
                        {% if event_item.missing_count > 0 %}<span class="alert label">{{ event_item.missing_count }}</span>{% else %}0{% endif %}
                    </td>
 -->                </tr>
                {% endfor %}
            </table>


            <div class="right">
                <a href="{% url 'event:book-all-possible' pk=event.id %}" class="small button success">Zamluvit co jde</a>
            </div>
            {% endif %}

            <div class="right">
                <a href="{% url 'event:event-items' pk=event.id %}" class="small button">Upravit materiál</a>
            </div>

        </div>
    </div>


    {% if event.get_dependencies|length > 0 %}
    <div class="row">
        <div class="medium-10 medium-offset-1 columns">
            <h3>Kontrola materiálu</h3>

            <p><small>Každá položka může mít své závislosti, ty jsou vyhodnoceny zvlášť pro rozpis a zvlášť pro zamluvené položky. Sleduje se, zda je potřebných položek alespoň tolik, kolik jich závislost vyvolalo. Vykřičník označuje povinné závislosti. Kliknutím na název se zobrazí podrobnosti.</small></p>

            <table class="topped wide">
                <tr>
                    <th>
                        Název závislosti
                    </th>
                    <th>
                        rozpis
                    </th>
                    <th>
                        zamluveno
                    </th>
                </tr>
                {% for dependency_row in event.get_dependencies %}
                <tr>
                    <td class="wide">
                        <span class="toggle-details" data-toggle="toggle_{{ forloop.counter }}">{{ dependency_row.dependency.name }}{% if dependency_row.must %} <span class="label" title="Toto je povinná závislost">!</span>{% endif%}</span><br>

                        <table class="wide" id="toggle_{{ forloop.counter }}" style="display: none;">
                        <tr>
                    <td>
                        Zdroj <strong>{{ dependency_row.requested_source_count }}</strong> / {{ dependency_row.booked_source_count }}<br /><small>rozpis / zamluveno</small>
                        {% for i in dependency_row.dependent_items %}
                            {% if forloop.first %}
                            <ul>
                            {% endif %}
                                <li><small{% if i.item.is_deleted %} title="Tato položka byla odstraněna ze skladu" class="is_deleted"{% endif %}>{{ i.item.name }} <strong>{{ i.requested_count}}</strong> / {{ i.booked_count}}</small></li>
                            {% if forloop.last %}
                            </ul>
                            {% endif %}
                        {% empty %}
                            <small>Žádná definovaná položka</small>
                        {% endfor %}
                    </td>
                    <td>
                        &rarr;
                    </td>
                    <td>
                        Řešení <strong>{{ dependency_row.requested_solution_count }}</strong> / {{ dependency_row.booked_solution_count }}<br /><small>rozpis/zamluveno</small><br />
                        <small>{{ dependency_row.dependency.get_solution_type_display|capfirst }}.</small><br />
                        {% for i in dependency_row.solution_items %}
                            {% if forloop.first %}
                            <ul>
                            {% endif %}
                                <li><small{% if i.item.is_deleted %} title="Tato položka byla odstraněna ze skladu" class="is_deleted"{% endif %}>{{ i.item.name }} <strong>{{ i.requested_count}}</strong> / {{ i.booked_count}}</small></li>
                            {% if forloop.last %}
                            </ul>
                            {% endif %}
                        {% empty %}
                            <small>Žádná definovaná položka</small>
                        {% endfor %}
                    </td>
                    </tr>
                    </table>


                    </td>
                    <td class="text-center nowrap">
                        {% if dependency_row.requested_solved %}
                            <span class="label {% if dependency_row.requested_source_count > dependency_row.requested_solution_count%}warning{% else %}success{% endif %}" title="{% if dependency_row.must %}Povinná závislost{% else %}Doporučená závislost{% endif %}">OK</span>
                        {% else %}
                            {% if dependency_row.must %}
                            <span class="label alert" title="Povinná závislost">ERR</span>
                            {% else %}
                            <span class="label warning" title="Doporučená závislost">ERR</span>
                            {% endif %}
                        {% endif %}
                        <br />
                        <small>{{ dependency_row.requested_source_count }} &rarr; {{ dependency_row.requested_solution_count }}</small>
                    </td>
                    <td class="text-center nowrap">
                        {% if dependency_row.booked_source_count == 0 %}
                            <span class="label secondary" title="Není zamluveno">N/A</span>
                        {% else %}
                            {% if dependency_row.booked_solved %}
                                <span class="label {% if dependency_row.booked_source_count > dependency_row.booked_solution_count%}warning{% else %}success{% endif %}" title="{% if dependency_row.must %}Povinná závislost{% else %}Doporučená závislost{% endif %}">OK</span>
                            {% else %}
                                {% if dependency_row.must %}
                                <span class="label alert" title="Povinná závislost">ERR</span>
                                {% else %}
                                <span class="label warning" title="Doporučená závislost">ERR</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <br />
                        <small>{{ dependency_row.booked_source_count }} &rarr; {{ dependency_row.booked_solution_count }}</small>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}



    <div class="row">
        <div class="large-12 columns text-right">
            <p><small>Naposledy akci upravil {{ event.changed_at|date:"j. n. Y H:i" }} uživatel {{ event.changed_by }}.</small></p>
        </div>
    </div>


{% endblock %}

