{% extends "base.html" %}
{% load static from staticfiles  %}
{% load addclass %}

{% block title %}{{ event.name }} &ndash; upravit akci{% endblock %}


{% block endstatic %}
    {{ block.super }}
    <script src="{% static "js/vendor/foundation-datepicker.js" %}"></script>

    <script>
        $(function () {
            $('.dp').each(function(e) {
                $(this).fdatepicker({ language: 'cz', weekStart: 1, format: 'dd.mm.yyyy' });
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
        {% if event %}
            <h1>{{ event.name }}</h1>
            <h3 class="subheader">{{ event.start|date:"j. n. Y" }} &mdash; {{ event.end|date:"j. n. Y" }}</h3>
        {% else %}
            <h1>Přidat akci</h1>
        {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <form action="{% if event %}{% url 'event:event-update' pk=event.id %}{% else %}{% url 'event:event-create' %}{% endif %}" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">

                    {% if form.non_field_errors %}
                        <div class="alert-box warning">
                            {{ form.non_field_errors|join:"<br>" }}
                        </div>
                    {% endif %}

                    <table class="form topped wide">
                        <tr>
                            <th colspan="2">
                                {{ form.name.label_tag }}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="alert-box warning">
                                        {{ form.name.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                {{ form.start.label_tag }}
                            </th>
                            <th>
                                {{ form.end.label_tag }}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                {{ form.start|addclass:"dp" }}
                                {% if form.start.errors %}
                                    <div class="alert-box warning">
                                    {{ form.start.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ form.end|addclass:"dp" }}
                                {% if form.end.errors %}
                                    <div class="alert-box warning">
                                    {{ form.end.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                {{ form.customer.label_tag }}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form.customer }}
                                {% if form.customer.errors %}
                                    <div class="alert-box warning">
                                        {{ form.customer.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>


                        <tr>
                            <th colspan="2">
                                {{ form.manager.label_tag }}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form.manager }}
                                {% if form.manager.errors %}
                                    <div class="alert-box warning">
                                        {{ form.manager.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>


                        <tr>
                            <th colspan="2">
                                {{ form.remark.label_tag }}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form.remark }}
                                {% if form.remark.errors %}
                                    <div class="alert-box alert">
                                        {{ form.remark.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    </div>
                </div>

                <div class="right">
                    <button type="submit" class="right button success">Uložit</button>
                    <a href="{% if event %}{% url 'event:event-detail' pk=event.id %}{% else %}{% url 'event:dashboard' %}{% endif %}" class="button secondary">Zrušit</a>
                </div>
                {% if event %}
                <div class="left">
                    <a href="{% url 'event:event-delete' pk=event.id %}" class="tiny button alert">Smazat</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>

    {% if event %}
    <div class="row">
        <div class="large-12 columns text-right">
            <p><small>Naposledy akci upravil {{ event.changed_at|date:"j. n. Y H:i" }} uživatel {{ event.changed_by }}.</small></p>
        </div>
    </div>
    {% endif %}

{% endblock %}

