{% extends "base.html" %}
{% load static from staticfiles  %}


{% block title %}Materiál na {{ event.name }}{% endblock %}

{% block startstatic %}
    <!-- TODO make local -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>

    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" rel="stylesheet" /> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css" rel="stylesheet" />

    <!-- <link href="{% static 'css/select.min.css' %}" rel="stylesheet" /> -->
    <!-- // <script src="{% static 'js/select.min.js' %}"></script> -->
    <link href="{% static 'css/select.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select.js' %}"></script>

    <!-- <script src="http://code.angularjs.org/1.1.5/angular-resource.min.js"></script>-->

    <script type="text/javascript">
        var event_id = {{ event.id }}
    </script>

    <script src="{% static 'js/appEventItemList.js' %}"></script>
{% endblock %}

{% block htmlattr %} ng-app="eventItems"{% endblock %}

{% block endstatic %}
    {{ block.super }}


    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" /> -->
    <!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script> -->



    <script type="text/javascript">
    $(document).ready(function() {
        // $select = $('select').select2({
        //     language: 'cs',
        //     allowClear: true,
        //     placeholder: "Přidat položku"
        // });

        // $select.select2("open")
        // $select.focus();
    });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>{{ event.name }} - Materiál</h1>
            <div class="right">
                <!-- <a href="{% url 'event:dashboard' %}" class="small button secondary">Zpět</a> -->
                <a href="{% url 'event:event-detail' pk=event.id %}" class="right small secondary button">Zpět</a>
            </div>
            <h3 class="subheader">{{ event.start|date:"j. n. Y" }} &mdash; {{ event.end|date:"j. n. Y" }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns">
            <p class="text-right"><small>Pozn.: Snížením počtu se automaticky snižuje zamluvený počet.</small></p>
            <div ng-controller="EventItemListController as eventItemList">
                <table class="wide">
                    <tr>
                        <th>položka</th>
                        <th class="text-center" style="width: 80px;">rozpis</th>
                        <th class="text-center" colspan="2">změnit</th>
                    </tr>
                    <tr ng-repeat="event_item in eventItemList.event_items ">
                        {% verbatim %}
                        <td ng-show="event_item.item.category.name">
                        {{ event_item.item.category.name }} &ndash;
                        {{ event_item.item_name }}
                        </td>
                        <td ng-hide="event_item.item.category.name">
                        {{ event_item.item_name }}
                        {{ event_item.item }}

                        </td>
                        <td class="text-center">
                        {{ event_item.requested_count }}
                        </td>
                        <td style="width: 120px;">
                        <button class="tiny secondary" ng-click='eventItemList.changeEventItem(event_item, -1)'>-</button>
                        <button class="tiny" ng-click='eventItemList.changeEventItem(event_item, +1)'>+</button>
                        </td>
                        {% endverbatim %}
                    </tr>
                    <tr>
                        <form ng-submit="eventItemList.createEventItem()">
                            <td>
<!--                                 <select style="width: 100%" ng-model="eventItemList.new_item_id" ng-options="o.id as o.name group by o.category.name for o in eventItemList.item_options">
                                    <option></option>
                                </select> -->
                                {% verbatim %}
                                <div style="margin-bottom: 1rem;">
                                <ui-select ng-model="eventItemList.new_item_id" theme="select2" style="width: 100%;">
                                    <ui-select-match placeholder="Položka...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="o.id as o in eventItemList.item_options | filter: $select.search track by o.name" group-by="eventItemList.group_by_category">
                                        <div ng-bind-html="o.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                 </ui-select>
                                {% endverbatim %}
                            </td>
                            <td>
                                <input type="text" ng-model="eventItemList.new_requested_count" placeholder="ks" class="text-center" />
                            </td>
                            <td class="text-center">
                                <button type="submit" class="success small">Přidat</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<!--
    <div class="row">
        <div class="large-12 columns">
            {{ object_list }}
        </div>
    </div>
 -->

    <div class="row">
        <div class="large-12 columns text-right">
            <p><small>Naposledy akci upravil {{ event.changed_at|date:"j. n. Y H:i" }} uživatel {{ event.changed_by }}.</small></p>
        </div>
    </div>


{% endblock %}

