{% extends "base.html" %}
{% load static from staticfiles  %}

{% block title %}Index{% endblock %}

{% block endstatic %}
    {{ block.super }}
    {% comment %}
    <script type="text/javascript" async defer>
        jQuery(".js-confirm-toggle").on("click", function(e){
            var btn = jQuery(this);
            if (confirm("Realy?")){
                console.log(btn);
            } else {
                e.preventDefault();
            }
        });
    </script>
    {% endcomment %}

    <script src="{% static "js/vendor/foundation-datepicker.js" %}"></script>

    <script>
        $(function () {
            // window.prettyPrint && prettyPrint();
            var startDate = new Date({{ dashboard_start|date:"Y" }}, {{ dashboard_start|date:"n" }}-1, {{ dashboard_start|date:"j" }});
            var endDate = new Date({{ dashboard_end|date:"Y" }}, {{ dashboard_end|date:"n" }}-1, {{ dashboard_end|date:"j" }});
            $('#dp_from').fdatepicker({ language: 'cz', weekStart: 1 })
                .on('changeDate', function (ev) {
                startDate = new Date(ev.date);
                $('#startDate').text($('#dp_from').data('date'));
                if (startDate.valueOf() >= endDate.valueOf()) {
                    $('#alert-placeholder').html('<div class="alert alert-box"><strong>Start musí být dřív, než konec</strong></div>');
                } else {
                    $('#alert-placeholder').html('');
                    document.location.href = '/set-dashboard-start/' + startDate.toISOString().substring(0, 10);
                }
                $('#dp_from').fdatepicker('hide');
            });
            $('#dp_to').fdatepicker({ language: 'cz', weekStart: 1 })
                .on('changeDate', function (ev) {
                endDate = new Date(ev.date);
                $('#endDate').text($('#dp_to').data('date'));
                if (endDate.valueOf() <= startDate.valueOf()) {
                    $('#alert-placeholder').html('<div class="alert alert-box"><strong>Start musí být dřív, než konec</strong></div>');
                } else {
                    $('#alert-placeholder').html('');
                    document.location.href = '/set-dashboard-end/' + endDate.toISOString().substring(0, 10)
                }
                $('#dp_to').fdatepicker('hide');
            });
        });
    </script>

    <script>
        $(function () {
            $('.event-pane').each(function() {
                $(this).on("click", function() {
                    document.location.href = $(this).data('href');
                });
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Kalendář akcí</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel no-padding-bottom">
                <div class="row">
                    <div id="alert-placeholder"></div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                        <a href="#" title="Změnit datum začátku zobrazení" class="button" id="dp_from" data-date-format="d. m. yyyy" data-date="{{ dashboard_start|date:"j. n. Y" }}">Od <span id="startDate">{{ dashboard_start|date:"j. n. Y" }}</span></a>

                        <a href="#" title="Změnit datum konce zobrazení" class="button" id="dp_to" data-date-format="d. m. yyyy" data-date="{{ dashboard_end|date:"j. n. Y" }}">Do <span id="endDate">{{ dashboard_end|date:"j. n. Y" }}</span></a>

                        {% if show_reset_dates %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'event:reset-dashboard-dates' %}" title="reset" class="subheader ">reset datumů</a>
                        {% endif %}
                    </div>

                    <div class="large-4 columns">
                                    <a href="{% url 'event:event-create' %}" class="button success right add-event">Přidat akci</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

            <table class="dashboard">
                {% for row in cal %}
                    <tr>
                        <td{% if row.weekend or row.date == today %} class="{% if row.weekend %}weekend{% endif %} {% if row.date == today %}today{% endif %}"{% endif %}>
                            {{ row.day }}
                            {{ row.date|date:"j. n. Y" }}
                        </td>

                        {% for col in row.cols %}
                            {% if col %}
                                {% if col.empty %}
                                <td{% if row.weekend %} class="weekend"{% endif %}></td>
                                {% else %}
                                <td rowspan="{{ col.rowspan }}" class="event-pane{% if col.rundown %} no-border-top{% endif %}{% if col.runoff %} no-border-bottom{% endif %}" data-href="{% url 'event:event-detail' pk=col.event.id %}">
                                    {% if col.rundown %}&uparrow;{% endif %}
                                    {% if col.runoff %}&downarrow;{% endif %}
                                    {{ col.event.name }}<br />
                                    <small>{{ col.event.start|date:"j. n. Y" }} &ndash; {{ col.event.end|date:"j. n. Y" }}</small>
                                </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td{% if row.weekend %} class="weekend"{% endif %}>
                            <a href="{% url 'event:event-create' start=row.date|date:'Y-m-d' %}" class="button tiny success right no-margin-bottom add-event">+</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}

